<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <p>
      Hello, <br>
      Your username is: <strong><%= @user.username %></strong> <br>
      Please don't forget your username :) <br>
    </p>
    <p>
      To login to the site, just go to <%= @url %>.
    </p>
  </body>
</html>
