#play-pause-button {
  background-size: cover;
  width: 20px;
  height: 20px;
  border: none;
  margin: 0 5px;
  background-color: #FFE4E1;
  cursor: pointer;
}

#play-pause-button:focus {
  outline: none;
}

.timeline {
  background-color: #F7BDBD;
  height: 35%;
  width: calc(100% - 50px);
  min-width: 100px;
  margin: 0 10px;
  border-radius: 5px;
  position: relative;
}

.audio-player {
  border-radius: 5px;
  display: flex;
  background-color: #FFE4E1;
  align-items: center;
  height: 30px;
}

.time-ball {
  cursor: pointer;
  background: crimson;
  position: relative;
  transform: translateX(-50%);
  height: 100%;
  width: 10.5px;
  border-radius: 50%;
}
