.browse-container {
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}

.arrow {
  top: 5px;
  height: 100%;
  width: 18%;
  opacity: 0.4;
  background-color: black;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}

.left {
  right: calc(90.9%);
}

.right {
  left: calc(90.9% + 1px);
}

.arrow:hover {
  opacity: 0.7;
}

/*.darken {
  filter: brightness(60%);
}

.darken:hover {
  filter: brightness(30%);
}*/


.top-recording-title {
  font-family: Ubuntu;
}

.browse-slider {
  position: relative;
  margin: 10px 0;
  width: 100%;
  display: flex;
  overflow: hidden;
}


.slider-container {
  margin: 30px 5px 0 5px;
}

.slider-item {
  cursor: pointer;
  position: relative;
  flex: 0 0 calc(18.2% - 2px);
  margin: 5px 1px 0px 1px;
  right: 0;
  transition: 0.7s ease;
  display: flex;
  flex-direction: column;
}

.slider-item:hover .thumbnail {

}


/*.recording-title {
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.5s ease;
  max-width: 90%;
  margin-top: 5px;
}*/

.thumbnail-container {
  position: relative;
  height: 0;
  padding-top: 100%;
}

.thumbnail {
  transition: 0.5s ease;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
