.browse-container {
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}

.left {
  transform: rotate(180deg);
  left: -30px;
}

.right {
  right: -30px;
}

.arrow {
  position: absolute;
  z-index: 5;
  height: 25px;
  cursor: pointer;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}


.top-recording-title {
  font-family: Ubuntu;
}

.browse-slider {
  margin: 10px 0;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.arrow-slider-container {
  display: flex;
  align-items: center;
  position: relative;
}

.slider-container {
  margin: 30px 50px 0 50px;
}

.slider-item {
  cursor: pointer;
  position: relative;
  width: 17%;
  flex: 0 0 17%;
  margin: 5px;
  right: 0;
  transition: 0.7s ease;
  display: flex;
  flex-direction: column;
}

.slider-item:hover .thumbnail {
  border-color: crimson;
}

.slider-item:hover .recording-title {
  color: red;
}

.recording-title {
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.5s ease;
  max-width: 90%;
  margin-top: 5px;
}

.thumbnail-container {
  position: relative;
  height: 0;
  padding-top: 100%;
}

.thumbnail {
  transition: 0.5s ease;
  border: 2px solid lightpink;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
