.home {
  text-align: center;
}

.new-recording-button {
  color: white;
  font-size: 30px;
  font-weight: bold;
  background-color: crimson;
  transition: all 0.5s ease;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  position: relative;
}

.new-recording-button:hover {
  color: black;
  background-color: darkred;
}

.my-recordings {
  text-align: center;
}

.my-recordings h2 {
  margin: 40px;
}

.my-recordings-list {
  margin: auto;

}

.recordings-list-image {
  height: 30px;
}

.my-recordings audio {
}

.recordings-list-button, .recordings-list-image {
  transition: all 0.5s ease;
  cursor: pointer;
}

.recordings-list-button:hover {
  color: red;
}

.my-recordings-list {
  width: 70%;
  max-width: 700px;
  border-collapse: collapse;
}

.my-recordings-list td {
  padding: 10px 5px 10px 0;
  border-bottom: 2px solid lightpink;
}

#item-image {
  padding-right: 10px;
}

#item-image:hover + #item-button {
  color: red;
}

.recordings-list-delete {
  height: 20px;
  cursor: pointer;
}
