.home {
  text-align: center;
}

.new-recording-button {
  color: darkred;
  padding: 5px;
  border: 2px solid darkred;
  border-radius: 5px;
  position: relative;
}

.my-recordings {
  text-align: center;
}

.my-recordings h2 {
  margin: 20px;
}

.my-recordings-list {
  margin: auto;

}

.recordings-list-image {
  height: 30px;
}

.my-recordings audio {
}

.recordings-list-button, .recordings-list-image {
  cursor: pointer;
}

.recordings-list-button:hover {
  color: red;
}

.my-recordings-list {
  border-collapse: collapse;
}

.my-recordings-list td {
  padding: 10px 5px 10px 0;
  border-bottom: 2px solid peachpuff;
}

#item-image {
  padding-right: 10px;
}

#item-image:hover + #item-button {
  color: red;
}

.recordings-list-delete {
  height: 20px;
  cursor: pointer;
}
