.nav {
  position: fixed;
  top: 50px;
  width: 200px;
  height: 500px;
  background: white;
  z-index: 100;
  border-right: 1px solid crimson;
  transition: 0.5s ease;
}

.nav-list {
  margin-top: 30px;
  text-align: left;
}

.nav-list li {
  color: crimson;
  position: relative;
  transition: 0.5s ease;
}

.nav-list a {
  display: block;
  padding: 10px 25px;
}

.nav-list li:after {
  content:"";
  background: lightpink;
  position: absolute;
  bottom: 0;
  left: 18px;
  height: 2px;
  width: 70%;
}

.nav-close {
  cursor: pointer;
  position:absolute;
  top: 0;
  right: 10px;
  color: #F7BDBD;
  font-size: 28px;
  font-weight: bold;
}

.nav-close:hover,
.nav-close:focus {
  color: crimson;
  text-decoration: none;
  cursor: pointer;
}

.nav .selected {
  color: lightpink;
  cursor: default;
}

.nav-list li:hover {
  color: darkred;
}
