.new-recording {
  text-align: center;
}

#circle {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: -50%;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: red;
  animation: record 2s linear infinite;
}

.recording-ui {
  padding: 30px;
}

@keyframes record {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

#start-record {
  position: relative;
}

.sound-clips {
  padding: 30px;
}

.mic-error {
  color: red;
}

.new-recording button {
  color: white;
  cursor: pointer;
  background-color: lightcoral;
  margin-right: 10px;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: none;
}

.clip {
  display: flex;
  justify-content:center;
  align-items: center;
}

.new-recording button:hover {
  color: crimson;
  transition: 0.5s ease;
}

.new-recording button:disabled {
  cursor: default;
  color: pink;
}

.delete-clip {
  margin-left: 10px;
}

.clip .audio_player {
  width: 50%;
}
