.new-recording {
  text-align: center;
}

#circle {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 20%;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: red;
  animation: record 2s linear infinite;
}

.recording-ui {
  position: relative;
  padding: 30px;
}

@keyframes record {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
