.new-recording {
  text-align: center;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}


#circle {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: -50%;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: red;
  animation: record 2s linear infinite;
}

.recording-ui {
  padding: 30px;
}

@keyframes record {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

#start-record {
  position: relative;
}

.sound-clips {
  padding: 30px;
}

.mic-error {
  color: red;
}

.new-recording button {
  color: white;
  cursor: pointer;
  background-color: lightcoral;
  margin-right: 10px;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: none;
}

.clip {
  display: flex;
  justify-content:center;
  align-items: center;
}

.new-recording button:hover {
  color: crimson;
  transition: 0.5s ease;
}

.new-recording button:disabled {
  cursor: default;
  color: pink;
}

.delete-clip {
  margin-left: 10px;
}

.clip .audio_player {
  width: 50%;
}

.progress-bar {
  color:black;
  width: 80%;
  margin: 0 auto 15px auto;
  font-family: Ubuntu;
}

.progress-outer {
  color: white;
  margin-top: 15px;
  line-height: 25px;
  background-color: lightgrey;
  height: 25px;
  border: 1px solid gray;
  border-radius: 5px;
}

.progress-inner {
  background-color: crimson;
  height: 100%;
  border-radius: 5px;
  transition: 0.5s ease;
}
