.recording-form {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 50%;
  position: relative;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  text-align: center;
}


.recording-form-label {
  padding-bottom: 15px;
  text-align: center;
}

.recording-form-text {
  padding-left: 5px;
  padding-right: 5px;
  width: 70%;
  resize: none;
}

.disable-page {
  cursor:not-allowed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.80;
  background: #aaa;
  z-index: 10;
}
