.recording-form {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  width: 80%;
  max-width: 500px;
  position: relative;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  text-align: center;
}


.recording-form-label {
  padding-bottom: 15px;
  text-align: center;
}

.recording-form-text {
  padding-left: 5px;
  padding-right: 5px;
  width: 70%;
  resize: none;
}


.submit-button {
  color: white;
  background-color: lightcoral;
  margin-right: 5px;
  padding: 10px;
  font-size: 11px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.submit-button:hover {
  color: crimson;
  transition: 0.5s ease;
}

.disable-page {
  cursor:not-allowed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.80;
  background: #aaa;
  z-index: 10;
}
