.welcome {
  position: absolute;
  top: 80%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: row;
  /*border: 3px solid black;
  border-radius: 10px;*/
}

.title {
  position: absolute;
  width: 100%;
  color: black;
  font-family: Kodchasan;
  white-space: nowrap;
  top: 5%;
  text-align: center;
}

.title h1 {
  font-size: 44px;
  font-family: inherit;
  font-weight: 700;
}

.tagline {
  font-size: 15px;
  font-family: inherit;
}

.verse {
  position: absolute;
  top: 30%;
  font-size: 16px;
  width: 100%;
  padding: 0 25%;
  font-family: Charmonman;
  text-align: center;
}

.verse p {
  font-weight: 700;
  font-family: inherit;
}
.verse .verse-bot {
  font-weight: 700;
  font-family: inherit;
}

.welcome a {
  display: block;
  border-right: 1px solid black;
  padding: 15px;
  color: black;
  transition: color 0.5s ease;
  font-family: Ubuntu;
}

.welcome a:last-child {
  border-right: none;
}

.welcome a:hover {
  color: white;
}



.splash {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(https://res.cloudinary.com/record-cloud/image/upload/v1539218679/splash2.jpg) no-repeat center;
  background-size: cover;
}

.awana-logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10%;
}
